body {
    pointer-events: auto !important;
    background-size: 100% !important;
    opacity: 0.90 !important;
    background-position: 0 0 !important;
    background-image: url(https://br.pinterest.com/gustajr/pol%C3%ADtica/);
    content: '';
    position: absolute;
    z-index: 999;
    width: 100%;
    background-repeat: no-repeat;
}